.homePage {
  margin: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.homePage h2 {
  font-size: 3rem;
  text-align: center;
}

.parra1 {
  font-size: 1.5rem;
  margin: 50px 30px;
  text-align: justify;
  top: 18%;
}