.homePage {
  margin: 50px 30px;
  display: flex;
  flex-direction: column;
}

.homePage h2 {
  font-size: 1.5rem;
  text-align: center;
}

.homePage p {
  width: 60vw;
  right: 20vw;
  text-align: justify;
  top: 25%;
}
